body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: #303030;
}
::-webkit-scrollbar-thumb {
  background: #ff3636;
}
.red {
  color: #ff3636;
}

.grey {
  color: #303030;
}
.lightgrey {
  color: #484848;
}
.white {
  color: #fff;
}
.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  min-height: 100vh;
}
.left {
  width: 300px;
  min-width: 300px;
  /* border: 1px solid red; */
  height: 300px;
  margin: 0 50px;
}
.brother {
  font-family: brother-1816, sans-serif;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: appear 2s forwards;
  opacity: 0;
}
.logo h1 {
  font-size: 40px;
}
.title {
  position: relative;
  top: -50px;
  animation: appear 2s forwards;
  opacity: 0;
}
.title .name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3px;
}
.title .job {
  position: relative;
  top: -30px;
  font-size: 20px;
}

.bio {
  position: relative;
  top: -80px;
  font-size: 18px;
  animation: appear 2s forwards 1s;
  opacity: 0;
}
.bio .projects {
  position: relative;
  top: -20px;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  position: relative;
  top: -100px;
  opacity: 0;
  animation: appear 2s forwards 2s;
}

.links .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #303030;
  animation: 0.4s greyrover2 forwards;
}

.links .link i {
  font-size: 40px;
  color: inherit;
}

.links .link .free {
  font-size: 20px;
  position: relative;
  top: -75px;
  color: white;
}

.links .link p {
  position: relative;
  top: -15px;
  color: inherit;
}
.links .link:hover,
.links .link:focus {
  color: #ff3636;
  animation: 0.4s redrover2 forwards;
}
.right {
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #ff3636 #484848;
  scrollbar-width: thin;
  overflow-x: hidden;
  width: 100%;
}
.project {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  border-radius: 12px;
  margin: 10px;
  height: 200px;
  max-height: 200px;
  /* width: 100%; */
  position: relative;
  animation: slide 1.5s forwards 3s;
  opacity: 0;
}
.project img {
  border-radius: 12px 0 0 12px;
  margin-right: 10px;
  min-width: 200px;
  width: 200px;
  max-height: 200px;
  object-fit: cover;
  opacity: 0;
  animation: appear 2s forwards 4s;
}
.project .description {
  overflow-y: auto;
  scrollbar-color: #484848 #fff;
  scrollbar-width: thin;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  margin: 10px 0;
}
.project .description h2 {
  font-size: 22px;
  margin: 0;
}
.project .description p {
  margin: 0;
}
.project .buttons {
  display: flex;
}
.project .buttons a {
  color: white;
  text-decoration: none;
  background: #303030;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px 8px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  animation: 0.4s greyrover forwards;
}
.project .buttons a:hover,
.project .buttons a:focus {
  animation: 0.4s redrover forwards;
  /* background: #ff3636; */
}

@media only screen and (max-width: 768px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }
  .project {
    height: 125px;
  }
  .project img {
    height: 125px;
    min-width: 125px;
    width: 125px;
  }
  .description {
    height: 115px;
    margin: 5px 0;
    /* border: 1px solid red; */
  }
  .project .description h2 {
    font-size: 14px;
    margin: 0;
  }
  .project .description p {
    font-size: 11px;
    margin: 0;
    /* height: 0; */
    /* display: none; */
  }
  .project .description a {
    font-size: 12px;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    left: -100vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes redrover {
  0% {
    background: #303030;
  }
  100% {
    background: #ff3636;
  }
}
@keyframes greyrover {
  0% {
    background: #ff3636;
  }
  100% {
    background: #303030;
  }
}
@keyframes redrover2 {
  0% {
    color: #303030;
  }
  100% {
    color: #ff3636;
  }
}
@keyframes greyrover2 {
  0% {
    color: #ff3636;
  }
  100% {
    color: #303030;
  }
}
